In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_excel('agents_score.xlsx', index_col=0)
df = df.drop('behavior', axis=1)
df

                      computer_score  human_score
-Mr4RiLyH06mIlLkOkTw            0.85         0.85
-Mr4RjUd6Ei8tNw1x3Vy           -0.10        -0.94
-Mr4RjX1GClt3WO3Fz_e            1.10         1.15
-Mr4RkayW6Mcf5zf4X9f            0.38         0.50
-Mr4Rl1agkMK0vtM-V7w            0.30         0.50
...                              ...          ...
-Mr5A5eDh_hZ_5aAChtI            0.59         0.20
-Mr5BoE45Gn9AJJXjirU            0.50         0.65
-Mr5TMSq5ynTUJE5agP6            0.50         0.35
-Mr5gp9WxLYDKJXvYNWj            0.35         0.55
-Mr6Fw-yi6Ld2xKNzu03            0.50         1.25

[161 rows x 2 columns]

In [2]:
accuracy = 0.828

min_c = df.computer_score.min()
max_c = df.computer_score.max()

min_h = df.human_score.min()
max_h = df.human_score.min()

correlation = df.computer_score.corr(df.human_score)
correlation

0.49476724088650476

# Attempt 1:

In [3]:
1 - correlation/accuracy

0.40245502308393144

# Attempt 2:

In [10]:
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized_df = pd.DataFrame(x_scaled, columns=['computer_score','human_score'])

     computer_score  human_score
0          0.876133     0.846154
1          0.589124     0.157692
2          0.951662     0.961538
3          0.734139     0.711538
4          0.709970     0.711538
..              ...          ...
156        0.797583     0.596154
157        0.770393     0.769231
158        0.770393     0.653846
159        0.725076     0.730769
160        0.770393     1.000000

[161 rows x 2 columns]

In [11]:
rmse = ((normalized_df.computer_score - normalized_df.human_score) ** 2).mean() ** .5
1 - rmse/accuracy

0.7837411637358995

# Attempt 3:

In [7]:
import math
uv = math.sqrt((max_c - min_c)**2 + (max_h - min_h)**2)

# Attempt 4: