In [1]:
import json
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from PIL import Image

map_dir = 'map 4'
path = './data/'+map_dir+'/data-of-baselines.json'

#load data from the json file
with open(path) as train_file:
    data = json.load(train_file)

participants_df = pd.DataFrame.from_dict(data['all-games'], orient='index')
participants_df

,additional_comments,behavior,birth_year,collaborative_value,computer_score,computer_value,education,gender,human_score,predictable_value,selfishly_value,wisely_value
-Mrxq3qHzIBT4S2E8ooK,,closest,1977,6,1.000,7,BA,male,0.990,4,5,7
-Mrxq7Ag3t6EAUpVxo_C,,closest,1964,6,0.950,7,High School,female,0.800,4,4,6
-Mrxq8C23gWU1NXTc8Hg,,TSP,1983,6,0.950,6,Master's degree,male,0.940,4,2,5
-Mrxq8hPTtLOqELhgh7y,,closest,1985,6,1.000,7,High School,male,0.950,6,2,7
-Mrxq9Qr5wmMfAV2wlbE,,farthest,1973,6,0.800,4,Ph.D,male,0.890,4,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...
-MrxtuFXPGYh1gLsCC77,NaN,farthest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-MrxyvHgSeKfm2Vr_YFa,NaN,closest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Mry0Z8OiOLFuyKjPMhy,NaN,selfish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Mry5KQqpj7MbvSSDBPX,NaN,random,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-MryJdZ3FL9T6C2hLbQG,NaN,TSP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
participants_df.columns

Index(['additional_comments', 'behavior', 'birth_year', 'collaborative_value',
       'computer_score', 'computer_value', 'education', 'gender',
       'human_score', 'predictable_value', 'selfishly_value', 'wisely_value'],
      dtype='object')

In [3]:
selfish_index = participants_df[participants_df['behavior'] == 'selfish'].index
len(selfish_index)

42

In [4]:
len(participants_df)

234

In [5]:
participants_df = participants_df.drop(selfish_index)
len(participants_df)

192

In [6]:
raw_df_state_to_action = pd.DataFrame.from_dict(data['humanModel'], orient='index')
# df.reset_index(level=0, inplace=True)
# df = df.dropna(subset=['log'])
for index in selfish_index:
    try:
        raw_df_state_to_action = raw_df_state_to_action.drop(index)
    except KeyError:
        print(index + ' not found')

-Mrxq7H-qKr50Z0E1XXB not found
-MrxqAkVuoof41rAYwBl not found
-MrxqRf1It0YPIIGJrZp not found
-Mry0Z8OiOLFuyKjPMhy not found

In [7]:
# participants_df.to_json(r'participants_df.json', orient='index')
# raw_df_state_to_action.to_json(r'raw_df_state_to_action.json', orient='index')