In [1]:
import json
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import shutil

from PIL import Image

map_dir = 'map 5'

path = './data/'+map_dir+'/data-of-all-agents.json'
# path = './data/'+map_dir+'/data-of-baselines.json'

In [2]:
# import pyrebase

# firebaseConfig = {
#         "apiKey": "AIzaSyAy6TmnVcLWjkpSpQFtCnX-PVGignQFsiw",
#     "authDomain": "packman-game.firebaseapp.com",
#     "databaseURL": "https://packman-game-default-rtdb.firebaseio.com",
#     "projectId": "packman-game",
#     "storageBucket": "packman-game.appspot.com",
#     "messagingSenderId": "819894936980",
#     "appId": "1:819894936980:web:7cbb8a8e4efb4e00d81b81"
#     };

# firebase=pyrebase.initialize_app(firebaseConfig)

# db=firebase.database()

# # Get a database reference to our posts
# ref = db.reference('/all-games')

# # Read the data at the posts reference (this is a blocking operation)
# print(ref.get())

In [3]:
#load data from the json file
with open(path) as train_file:
    data = json.load(train_file)

# Survay results:

upload Id workers and search for duplicate workers

In [4]:
raw_df_state_to_action = pd.DataFrame.from_dict(data['humanModel'], orient='index')
raw_df_state_to_action = raw_df_state_to_action.drop(0, axis=1)

participants_df = pd.DataFrame.from_dict(data['all-games'], orient='index')

path_w = 'data/'+map_dir+'/workers' # use your path
all_files = glob.glob(path_w + "/*.csv")

li = []
for filename in all_files:
    fromOne = pd.read_csv(filename, index_col=None, header=0)
    fromOne['filename'] = filename
    li.append(fromOne)

workers = pd.concat(li, axis=0, ignore_index=True)
workers = workers.set_index('Answer.surveycode')
workers.index = workers.index.map(lambda code: '-' + code[:-3])
# print(workers.index[workers.index.duplicated()])
workers = workers[~workers.index.duplicated(keep='first')]
participants_df['WorkerId'] = workers['WorkerId']
participants_df = participants_df.dropna(subset = ['WorkerId'])
participants_df

,behavior,additional_comments,birth_year,collaborative_value,computer_score,computer_value,education,gender,human_score,predictable_value,selfishly_value,wisely_value,WorkerId
-Ms8apzf274KAnw8anBV,TSP,NICE STUDY.,1981,5,0.300,6,BA,female,1.200,5,5,4,ATZ6BKELCGF6H
-Ms8areDl12-5B5lSAX5,TSP,"I used to play in a league with that blue guy,...",1980,2,0.900,6,BA,male,0.900,6,2,3,A37MQE3V7PAGMB
-Ms8at7zSAJbq6RGJXMI,TSP,,1978,4,0.450,7,Ph.D,male,0.500,3,2,4,A2ZPSPA0R8KSL8
-Ms8av2Z5M2XEIGMqjsx,TSP,,1972,6,0.700,4,BA,female,0.780,7,7,6,A3SJTDFJ03P5LJ
-Ms8avJTdP2GRxWwV6VG,TSP,It was too hard to move your piece,1995,6,0.300,7,BA,female,0.480,4,1,6,A38LW34F26WBJY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
-N5kUj1tRAt700O3Edv6,ddqn distribution v4,it was been good study,1989,7,1.130,7,BA,male,0.550,6,7,6,A3NEA835P84IEC
-N5kVCx077wckwBX5CyO,ddqn distribution v4,After enough turns of staying in place I reali...,1999,5,1.100,7,High School,male,0.790,4,5,7,ALTRIHXLUK71A
-N5kVsEgo4-zGvX7X1rt,ddqn distribution v4,"This isn't a ""true"" game, as the outcome was a...",1984,1,0.870,7,BA,male,0.600,7,7,1,A2J43GKTP92XM2
-N5kYFi_G24U0A3aEtSo,ddqn distribution v4,VERY INTERESTING,1965,5,1.090,4,BA,male,0.630,3,6,4,A1V3SD73VTZW9L
-N5k_rGhErQdyiXe9VU8,ddqn distribution v4,Good,1983,5,1.190,5,BA,female,0.850,5,4,6,A2N4OJ2EQ6JNH2

In [5]:
participants_df.columns

Index(['behavior', 'additional_comments', 'birth_year', 'collaborative_value',
       'computer_score', 'computer_value', 'education', 'gender',
       'human_score', 'predictable_value', 'selfishly_value', 'wisely_value',
       'WorkerId'],
      dtype='object')

In [6]:
index_to_drop = participants_df[participants_df.duplicated('WorkerId', keep='first')].index
print(len(index_to_drop))

# participants_df = participants_df[~participants_df.duplicated('WorkerId', keep='first')]

193

number of people that answer the survay only once:

In [7]:
len(participants_df)

420

In [8]:
# participants_df[['computer_score', 'human_score', 'behavior']].to_excel("agents_score.xlsx")

In [9]:
participants_df[['additional_comments', 'behavior']][participants_df['additional_comments'].notna()][participants_df['additional_comments'] != ""].tail()

,additional_comments,behavior
-N5kUj1tRAt700O3Edv6,it was been good study,ddqn distribution v4
-N5kVCx077wckwBX5CyO,After enough turns of staying in place I reali...,ddqn distribution v4
-N5kVsEgo4-zGvX7X1rt,"This isn't a ""true"" game, as the outcome was a...",ddqn distribution v4
-N5kYFi_G24U0A3aEtSo,VERY INTERESTING,ddqn distribution v4
-N5k_rGhErQdyiXe9VU8,Good,ddqn distribution v4

In [10]:
participants_df.loc[: ,'human_score'] = pd.to_numeric(participants_df['human_score'], errors='coerce')
participants_df.loc[: ,'computer_score'] = pd.to_numeric(participants_df['computer_score'], errors='coerce')
participants_df.loc[: ,'collaborative_value'] = pd.to_numeric(participants_df['collaborative_value'], errors='coerce')
participants_df.loc[: ,'predictable_value'] = pd.to_numeric(participants_df['predictable_value'], errors='coerce')
participants_df.loc[: ,'selfishly_value'] = pd.to_numeric(participants_df['selfishly_value'], errors='coerce')
participants_df.loc[: ,'wisely_value'] = pd.to_numeric(participants_df['wisely_value'], errors='coerce')
participants_df.loc[: ,'computer_value'] = pd.to_numeric(participants_df['computer_value'], errors='coerce')

In [11]:
participants_df.groupby('behavior')[['computer_score', 'human_score', 'collaborative_value', 'predictable_value', 'selfishly_value', 'wisely_value', 'computer_value']].mean()

,computer_score,human_score,collaborative_value,predictable_value,selfishly_value,wisely_value,computer_value
behavior,,,,,,,
TSP,0.721429,0.799796,4.632653,4.979592,3.408163,5.204082,5.040816
closest,0.551887,0.660943,3.905660,5.188679,3.886792,5.339623,5.150943
ddqn distribution,1.078718,-0.151795,3.512821,5.461538,6.102564,4.076923,5.410256
ddqn distribution v1,1.045556,0.409333,3.800000,4.244444,4.511111,4.377778,5.111111
ddqn distribution v4,1.037273,0.610000,4.545455,4.795455,4.931818,4.613636,5.068182
farthest,0.747167,0.622333,4.333333,4.450000,3.683333,5.000000,4.783333
random,-0.048958,-0.126458,3.333333,4.583333,4.500000,3.562500,4.875000
sarl ddqn distribution,1.172381,0.649048,4.261905,4.952381,5.404762,4.904762,5.571429
selfish,1.115000,-0.103750,3.175000,4.475000,5.075000,4.300000,4.950000

In [12]:
participants_df['behavior'].value_counts()

farthest                  60
closest                   53
TSP                       49
random                    48
ddqn distribution v1      45
ddqn distribution v4      44
sarl ddqn distribution    42
selfish                   40
ddqn distribution         39
Name: behavior, dtype: int64

In [13]:
participants_df['gender'].value_counts()

female    213
male      207
Name: gender, dtype: int64

In [14]:
participants_df['education'].value_counts()

BA                 268
Master's degree     95
High School         56
Ph.D                 1
Name: education, dtype: int64

# View some data

In [15]:
# remove from the dataset :
# raw_df_state_to_action = raw_df_state_to_action.drop(index_to_drop)
raw_df_state_to_action.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 433 entries, -Ms8apzf274KAnw8anBV to undefined
Columns: 182 entries, 1 to 182
dtypes: object(182)
memory usage: 619.1+ KB

In [16]:
def extractAction(cell):
    if cell != None:
        return int(cell['action'])
    return np.nan

def NormalizeData(data):
    return (data - np.min(data)) / (np.max(data) - np.min(data))

def extractState(cell):
    if cell == None:
        return cell
    board = np.array(cell['state'][0]).astype(float)
    human_trace = np.array(cell['state'][1]).astype(float)
    computer_trace = np.array(cell['state'][2]).astype(float)
    human_awards = np.array(cell['state'][3]).astype(float)
    computer_awards = np.array(cell['state'][4]).astype(float)
    all_awards = np.array(cell['state'][5]).astype(float)
    
    r = human_awards/2 + human_trace + all_awards
    g = board/3 + all_awards
    b = computer_awards/2 + computer_trace + all_awards
    rgb = np.dstack((r,g,b))
    return NormalizeData(rgb)
    

state_df = pd.DataFrame(columns=raw_df_state_to_action.columns)
action_df = pd.DataFrame(columns=raw_df_state_to_action.columns)
for col in raw_df_state_to_action:
    state_df[col] = raw_df_state_to_action[col].apply(extractState)
    action_df[col] = raw_df_state_to_action[col].apply(extractAction)

In [17]:
state_df.head(1)

,1,2,3,4,5,6,7,8,9,10,...,173,174,175,176,177,178,179,180,181,182
-Ms8apzf274KAnw8anBV,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None

# view one game

In [18]:
def rowToImage(row):
    fig = plt.figure(figsize=(40, 20))
    row_s = state_df.loc[row, :]
    row_a = action_df.loc[row, :]
    cols_i = row_a.count()
    for i in range(1, cols_i+1):
        rows = 1
        columns = cols_i
        state = row_s.at[i]
        fig.add_subplot(rows, columns, i)
        plt.imshow(state)
        plt.axis('off')
        action = row_a.at[i]
        plt.title(str(i) + " action: " + str(action), fontsize=15)

In [19]:
action_df[(action_df.count(axis=1) > 100)]

,1,2,3,4,5,6,7,8,9,10,...,173,174,175,176,177,178,179,180,181,182
-Ms8b--POGt84QXfkR-V,40.0,38.0,38.0,39.0,39.0,40.0,40.0,39.0,39.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-MsauSB5JVOX4oxUR5j_,38.0,39.0,39.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,40.0,40.0,39.0,39.0,39.0,39.0,39.0,40.0,40.0,40.0
-N5aSgeKRlukReB9Qye6,38.0,39.0,39.0,39.0,38.0,38.0,37.0,39.0,40.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-N5aYZwEh5P2ipPopKcf,38.0,39.0,39.0,39.0,38.0,38.0,37.0,39.0,40.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-N5kU6x-Zv_W3jVI-e5K,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
action_df[len(action_df.columns) + 1] = np.NaN
action_df.tail()

,1,2,3,4,5,6,7,8,9,10,...,174,175,176,177,178,179,180,181,182,183
-N5kVCx077wckwBX5CyO,38.0,39.0,39.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-N5kVsEgo4-zGvX7X1rt,38.0,39.0,39.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-N5kYFi_G24U0A3aEtSo,38.0,39.0,39.0,39.0,38.0,39.0,39.0,32.0,38.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-N5k_rGhErQdyiXe9VU8,38.0,39.0,39.0,39.0,38.0,38.0,37.0,39.0,40.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
undefined,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Make Dataset

In [21]:
if path == './data/'+map_dir+'/data-of-baselines.json':
    dir_path = './data/humanModel_v0_dataset'
    if os.path.exists(dir_path):
        shutil.rmtree(dir_path)
    os.mkdir(dir_path)
    for action in ['32','37','38','39','40']:
        os.mkdir(dir_path+'/'+action)

    counter = 0
    for (idxRow, s1), (_, s2) in zip(state_df.iterrows(), action_df.iterrows()):
        for (idxCol, state), (_, action) in zip(s1.iteritems(), s2.iteritems()):
            # check if it is not the last state
            # the last state not enter our model, since it is an end state that not contains any dirts and not preform an action
            if not np.isnan(action_df.loc[idxRow, idxCol+1]):
                im = Image.fromarray((state * 255).astype(np.uint8))
                path = f'data/humanModel_v0_dataset/{int(action)}/{idxRow}_{idxCol}.png'
                if counter % 500 == 0:
                    # print every 500 saved images
                    print(f'{idxRow}_{idxCol}.png saved! at action {action}')
                counter += 1
                im.save(path)
            else:
                break
    #         print (state, action, idxCol, idxRow)
    print(f'{counter} images have been saved')

In [22]:
# rowToImage('-Mr4Yrtg2Rk8u83xa6yl')

In [23]:
# index = "-MqplpytsnX0zCv_KW9i"
# col = 3
# plt.imshow(state_df.loc[index, col])
# title = "id: " + index + ", col: " + str(col) + ", action: " + str(action_df.loc[index, col])
# plt.title(title)
# plt.show()

# Change the reward function

only for the old data

In [24]:
# drop not finish game

# --> TODO: not working!

print(len( raw_df_state_to_action.index))
# null_index = participants_df.loc[raw_df_state_to_action.index, :][participants_df.loc[raw_df_state_to_action.index, :]['computer_score'].isnull()].index.tolist()
null_index = raw_df_state_to_action.index.difference(participants_df.index, sort=False)
print(len(null_index))
# print(null_index)
raw_df_state_to_action_finish_game = raw_df_state_to_action.drop(null_index)

433
13

In [25]:
def extractState(cell):
    if cell == None:
        return cell
    board = np.array(cell['state'][0]).astype(float)
    human_trace = np.array(cell['state'][1]).astype(float)
    computer_trace = np.array(cell['state'][2]).astype(float)
    human_awards = np.array(cell['state'][3]).astype(float)
    computer_awards = np.array(cell['state'][4]).astype(float)
    all_awards = np.array(cell['state'][5]).astype(float)
    return (board, human_trace, computer_trace, human_awards, computer_awards, all_awards)

state_dim_6_df = pd.DataFrame(columns=raw_df_state_to_action_finish_game.columns)
for col in raw_df_state_to_action_finish_game:
    state_dim_6_df[col] = raw_df_state_to_action_finish_game[col].apply(extractState)

state_dim_6_df[len(state_dim_6_df.columns) + 1] = None

In [26]:
def countActions(row):
    for i in range(1, len(row)+1):
        if row[i] != None: # game not ended
            continue
        else:
            # if there are i-1 states, then there are i-2
            return i-2

def countCollectedDirt(row, agent):
    NotNullLastCol = row[1]
    for i in range(2, len(row)+1):
        if row[i] != None: # game not ended
            NotNullLastCol = row[i]
        else:
            assert np.count_nonzero(NotNullLastCol[5]) == 0
            if agent == 'computer':
                return np.count_nonzero(NotNullLastCol[4])
            else: # agent == 'human'
                return np.count_nonzero(NotNullLastCol[3])

def countStays(row, agent):
    stay_count = 0
    # if agent == 'computer':
    #     last_pos = np.where(row[1][2] == 1)
    # else:
    #     last_pos = np.where(row[1][1] == 1)

    for i in range(2, len(row)+1):
        if row[i] != None: # game not ended
            # if agent == 'computer':
            #     current_pos = np.where(row[i][2] == 1)
            # else: # agent == 'human'
            #     current_pos = np.where(row[i][1] == 1)
            # if current_pos == last_pos:
            #     stay_count += 1
            # else:
            #     last_pos = current_pos
            
            # faster way
            if agent == 'computer':
                trace_agent = row[i][2]
            else: # agent == 'human'
                trace_agent = row[i][1]
            if 0.9 not in trace_agent:
                stay_count += 1
        else:
            return stay_count

In [27]:
def fix_scores(df):
    rewards = {
        'Start': 0.5,
        'Stay': -0.01,
        'Move': -0.05,
        'EndGame': 1.0
    }
    c_h_scores = pd.DataFrame(index=df.index, columns=['computer_score', 'human_score'])
    computer_scores = []
    human_scores = []
    for i, row in df.iterrows():
        num_of_actions = countActions(row)
        computer_num_of_dirt = countCollectedDirt(row, 'computer')
        human_num_of_dirt = countCollectedDirt(row, 'human')
        computer_num_of_stays = countStays(row, 'computer')
        human_num_of_stays = countStays(row, 'human')

        # if i == '-Mr4RiLyH06mIlLkOkTw':
        #     print('num_of_actions: ', num_of_actions)
        #     print('computer_num_of_dirt: ', computer_num_of_dirt)
        #     print('human_num_of_dirt: ',human_num_of_dirt)
        #     print('computer_num_of_stays: ', computer_num_of_stays)
        #     print('human_num_of_stays: ',human_num_of_stays)
        #     # raise RuntimeError

        coputerScore = rewards['Start'] + (num_of_actions - computer_num_of_stays - computer_num_of_dirt) * rewards['Move'] + computer_num_of_stays * rewards['Stay']
        coputerScore += rewards['EndGame']
        humanScore = rewards['Start'] + (num_of_actions - human_num_of_stays - human_num_of_dirt) * rewards['Move'] + human_num_of_stays * rewards['Stay']
        humanScore += rewards['EndGame']
        computer_scores.append(coputerScore)
        human_scores.append(humanScore)

    c_h_scores['computer_score'] = computer_scores
    c_h_scores['human_score'] = human_scores
    c_h_scores['computer_score_real'] = participants_df['computer_score']
    c_h_scores['human_score_real'] = participants_df['human_score']
    c_h_scores['behavior'] = participants_df['behavior']
    return c_h_scores

new_scores_df = fix_scores(state_dim_6_df)

In [28]:
new_scores_df.groupby('behavior').mean()

,computer_score,human_score,computer_score_real,human_score_real
behavior,,,,
TSP,0.733878,0.796531,0.721429,0.799796
closest,0.566415,0.653396,0.551887,0.660943
ddqn distribution,1.090256,-0.122308,1.078718,-0.151795
ddqn distribution v1,1.049111,0.493111,1.045556,0.409333
ddqn distribution v4,1.040909,0.600909,1.037273,0.610000
farthest,0.762833,0.618000,0.747167,0.622333
random,-0.024375,-0.136250,-0.048958,-0.126458
sarl ddqn distribution,1.148095,0.639286,1.172381,0.649048
selfish,1.115000,-0.114000,1.115000,-0.103750

In [29]:
def fix_collected_dirt_score(df):
    rewards = {
        'Collected_dirt': 0.05,
    }
    c_h_scores = pd.DataFrame(index=df.index, columns=['computer_score', 'human_score'])
    computer_scores = []
    human_scores = []
    for i, row in df.iterrows():
        computer_num_of_dirt = countCollectedDirt(row, 'computer')
        human_num_of_dirt = countCollectedDirt(row, 'human')

        coputerScore = computer_num_of_dirt * rewards['Collected_dirt']
        humanScore = human_num_of_dirt * rewards['Collected_dirt']
        computer_scores.append(participants_df.loc[i, 'computer_score'] - coputerScore)
        human_scores.append(participants_df.loc[i, 'human_score'] - humanScore)

    c_h_scores['computer_score'] = computer_scores
    c_h_scores['human_score'] = human_scores
    c_h_scores['computer_score_real'] = participants_df['computer_score']
    c_h_scores['human_score_real'] = participants_df['human_score']
    c_h_scores['behavior'] = participants_df['behavior']
    return c_h_scores

new_scores_df = fix_collected_dirt_score(state_dim_6_df)

In [30]:
new_scores_df.groupby('behavior').mean()

,computer_score,human_score,computer_score_real,human_score_real
behavior,,,,
TSP,0.608163,0.663061,0.721429,0.799796
closest,0.436792,0.514717,0.551887,0.660943
ddqn distribution,1.078718,-0.401795,1.078718,-0.151795
ddqn distribution v1,0.945556,0.258222,1.045556,0.409333
ddqn distribution v4,0.937273,0.460000,1.037273,0.610000
farthest,0.636333,0.482333,0.747167,0.622333
random,-0.067708,-0.360833,-0.048958,-0.126458
sarl ddqn distribution,1.079524,0.490714,1.172381,0.649048
selfish,1.115000,-0.353750,1.115000,-0.103750

In [31]:
# participants_df['computer_score'] = new_scores_df['computer_score']
# participants_df['human_score'] = new_scores_df['human_score']
# participants_df.to_json(r'participants_df.json', orient='index')

In [32]:
# new_scores_df.to_excel("data/"+map_dir+"/all_agents_score.xlsx")