In [1]:
import json
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import shutil

from PIL import Image

map_dir = 'map 4'
path = './data/'+map_dir+'/data-of-baselines-after-runs-selfish-again.json'

In [2]:
# import pyrebase

# firebaseConfig = {
#         "apiKey": "AIzaSyAy6TmnVcLWjkpSpQFtCnX-PVGignQFsiw",
#     "authDomain": "packman-game.firebaseapp.com",
#     "databaseURL": "https://packman-game-default-rtdb.firebaseio.com",
#     "projectId": "packman-game",
#     "storageBucket": "packman-game.appspot.com",
#     "messagingSenderId": "819894936980",
#     "appId": "1:819894936980:web:7cbb8a8e4efb4e00d81b81"
#     };

# firebase=pyrebase.initialize_app(firebaseConfig)

# db=firebase.database()

# # Get a database reference to our posts
# ref = db.reference('/all-games')

# # Read the data at the posts reference (this is a blocking operation)
# print(ref.get())

In [3]:
#load data from the json file
with open(path) as train_file:
    data = json.load(train_file)

# Survay results:

upload Id workers and search for duplicate workers

In [4]:
raw_df_state_to_action = pd.DataFrame.from_dict(data['humanModel'], orient='index')
raw_df_state_to_action = raw_df_state_to_action.drop(0, axis=1)

participants_df = pd.DataFrame.from_dict(data['all-games'], orient='index')

path = 'data/'+map_dir+'/workers' # use your path
all_files = glob.glob(path + "/*.csv")

li = []
for filename in all_files:
    fromOne = pd.read_csv(filename, index_col=None, header=0)
    fromOne['filename'] = filename
    li.append(fromOne)

workers = pd.concat(li, axis=0, ignore_index=True)
workers = workers.set_index('Answer.surveycode')
workers.index = workers.index.map(lambda code: '-' + code[:-3])
# print(workers.index[workers.index.duplicated()])
workers = workers[~workers.index.duplicated(keep='first')]
participants_df['WorkerId'] = workers['WorkerId']
participants_df = participants_df.dropna(subset = ['WorkerId'])
participants_df

,additional_comments,behavior,birth_year,collaborative_value,computer_score,computer_value,education,gender,human_score,predictable_value,selfishly_value,wisely_value,WorkerId
-Mrxq3qHzIBT4S2E8ooK,,closest,1977,6,1.000,7,BA,male,0.990,4,5,7,A1M64R8HPYNNZA
-Mrxq7Ag3t6EAUpVxo_C,,closest,1964,6,0.950,7,High School,female,0.800,4,4,6,A2DYXKOHDDY9EG
-Mrxq8C23gWU1NXTc8Hg,,TSP,1983,6,0.950,6,Master's degree,male,0.940,4,2,5,A1YBJN6WT3X8B5
-Mrxq8hPTtLOqELhgh7y,,closest,1985,6,1.000,7,High School,male,0.950,6,2,7,A1KZ21TSAYUHO4
-Mrxq9Qr5wmMfAV2wlbE,,farthest,1973,6,0.800,4,Ph.D,male,0.890,4,2,4,ANBWJZYU2A68T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
-Ms2rQG33QkpB3TWGKR_,,selfish,1954,1,1.230,6,Master's degree,male,0.500,4,7,4,A1JM5XNB4NCZR6
-Ms33Q813uYS749Ffv2D,Good,selfish,1984,6,1.250,5,BA,male,0.580,7,7,6,A2RXHHCMLJHMX9
-Ms34stIk-gli2Cyq9k_,GOOD,selfish,1981,3,1.120,6,BA,female,-0.060,5,5,5,ANWRXKAOV327E
-Ms3BvyypWqR9JcwIzUJ,good,selfish,1996,3,1.080,6,BA,female,-0.050,5,2,4,AVPYUNR3HNR3D
-Ms3aYBVBc0ffNZsEiaq,THE ANOTHER PLAYER WAS WORST AND NOT COOPERATIVE.,selfish,1979,1,1.220,6,BA,male,0.470,7,7,1,A3ADHMAWDD7M6V

In [5]:
participants_df.columns

Index(['additional_comments', 'behavior', 'birth_year', 'collaborative_value',
       'computer_score', 'computer_value', 'education', 'gender',
       'human_score', 'predictable_value', 'selfishly_value', 'wisely_value',
       'WorkerId'],
      dtype='object')

In [6]:
index_to_drop = participants_df[(participants_df.duplicated('WorkerId')) | (participants_df['WorkerId'].isnull())].index
print(len(index_to_drop))

participants_df = participants_df[(~participants_df.duplicated('WorkerId')) | (participants_df['WorkerId'].isnull())]

107

number of people that answer the survay only once:

In [7]:
len(participants_df)

101

In [8]:
# participants_df[['computer_score', 'human_score', 'behavior']].to_excel("agents_score.xlsx")

In [9]:
participants_df[['additional_comments', 'behavior']][participants_df['additional_comments'].notna()][participants_df['additional_comments'] != ""]

,additional_comments,behavior
-MrxqH84mmVUAqe8NHUc,Thank you,closest
-MrxqVah3Io9zSNz-TT4,none,TSP
-MrxqXb9jBXqrAp8GvpC,None,farthest
-Mrxqz54raVhbKGTm53k,nice,farthest
-Mrxr0D9FuoJtrx7eyCr,Fun game,closest
-Mrxs07yEuN6KN1qZFsi,Good,random
-MrxsBPFNGy2E5RtJvH9,i did not like the blue player. was not helpful.,farthest
-Mrxt1DtxODTsATpGYIh,Good,closest
-MrxtC2htoYOFUJhGzpt,Good,TSP
-MrxuiVAlr4BtX133bT4,nice,farthest
-MrxuoIohAjrwGgv3lfE,Good,farthest
-MrxvPUHjHP_U7hL_9Ua,GOOD,closest
-MrxvmNL4nS829_CCFjy,na,farthest
-MrxwzZnpJ_zRbZlHMXb,good,TSP
-MrxyL_kRT6FBl3l3U8d,good,TSP
-MrxzQbofhDoUZXlpyyt,Good,farthest
-Mry03n93UukjtlbTL83,nice,closest
-Mry1jnotm8Z2jZuLXZu,interesting task,farthest
-Mry1sAUiK_AGrTMSiTX,GOOD,closest
-MryC8rGZxKuvk6OKHLf,good,random
-MrzvtcX2Kreal95Esc3,Nice task and thanks for the opportunity,farthest
-Ms2UtW8iJ_JotYXwFVz,None.,selfish
-Ms2VrXe3TS48S3GEgry,"At first I thought it was a real player, but a...",selfish
-Ms2XVDVsaiG_rm5A5oZ,Thank you and good luck!,selfish
-Ms2Z1DP4RTkfGqfimh9,I simply completed the task and wasn't that co...,selfish
-Ms2ZmzWLBYxmhzBmF2E,nice,selfish
-Ms2_VcZOBkIVUZtf2QA,good task,selfish
-Ms2cugXMptoce5W7uDG,Good,selfish
-Ms2g6spabWk6q-PgE3q,Good,selfish
-Ms2heBK3kE527MJebX3,nice game,selfish
-Ms2hkTsow_z8MgXNRcC,"Thanks, that was a lot of fun.",selfish
-Ms2i2QomF71O7lxCnsE,none,selfish
-Ms2j9rn2n-umpSgR2Zl,good,selfish
-Ms33Q813uYS749Ffv2D,Good,selfish
-Ms34stIk-gli2Cyq9k_,GOOD,selfish
-Ms3BvyypWqR9JcwIzUJ,good,selfish
-Ms3aYBVBc0ffNZsEiaq,THE ANOTHER PLAYER WAS WORST AND NOT COOPERATIVE.,selfish

In [10]:
participants_df.loc[: ,'human_score'] = pd.to_numeric(participants_df['human_score'], errors='coerce')
participants_df.loc[: ,'computer_score'] = pd.to_numeric(participants_df['computer_score'], errors='coerce')
participants_df.loc[: ,'collaborative_value'] = pd.to_numeric(participants_df['collaborative_value'], errors='coerce')
participants_df.loc[: ,'predictable_value'] = pd.to_numeric(participants_df['predictable_value'], errors='coerce')
participants_df.loc[: ,'selfishly_value'] = pd.to_numeric(participants_df['selfishly_value'], errors='coerce')
participants_df.loc[: ,'wisely_value'] = pd.to_numeric(participants_df['wisely_value'], errors='coerce')

/home/ido/anaconda3/envs/tf-gpu/lib/python3.7/site-packages/pandas/core/indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value
/home/ido/anaconda3/envs/tf-gpu/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [11]:
participants_df.groupby('behavior')[['computer_score', 'human_score', 'collaborative_value', 'predictable_value', 'selfishly_value', 'wisely_value']].mean()

,computer_score,human_score,collaborative_value,predictable_value,selfishly_value,wisely_value
behavior,,,,,,
TSP,0.911765,0.860000,5.411765,5.058824,3.529412,5.705882
closest,0.889583,0.910417,5.291667,5.375000,3.125000,5.375000
farthest,0.515882,0.610000,5.058824,5.000000,4.823529,4.823529
random,0.412857,0.487143,2.642857,4.642857,5.571429,3.500000
selfish,1.162069,0.352069,2.586207,5.482759,6.137931,3.586207

In [12]:
participants_df['behavior'].value_counts()

selfish     29
closest     24
TSP         17
farthest    17
random      14
Name: behavior, dtype: int64

In [13]:
participants_df['gender'].value_counts()

male      68
female    33
Name: gender, dtype: int64

In [14]:
participants_df['education'].value_counts()

BA                 59
High School        24
Master's degree    16
Ph.D                2
Name: education, dtype: int64

In [15]:
participants_df[participants_df['behavior'] == 'selfish'][['computer_score', 'human_score','education']].groupby('education').mean()

                 computer_score  human_score
education
BA                     1.126875     0.323125
High School            1.220000     0.416667
Master's degree        1.192857     0.362857

# View some data

In [16]:
# remove from the dataset :
# raw_df_state_to_action = raw_df_state_to_action.drop(index_to_drop)
raw_df_state_to_action.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 220 entries, -Mrxq3qHzIBT4S2E8ooK to undefined
Columns: 160 entries, 1 to 160
dtypes: object(160)
memory usage: 276.7+ KB

In [17]:
def extractAction(cell):
    if cell != None:
        return int(cell['action'])
    return np.nan

def NormalizeData(data):
    return (data - np.min(data)) / (np.max(data) - np.min(data))

def extractState(cell):
    if cell == None:
        return cell
    board = np.array(cell['state'][0]).astype(float)
    human_trace = np.array(cell['state'][1]).astype(float)
    computer_trace = np.array(cell['state'][2]).astype(float)
    human_awards = np.array(cell['state'][3]).astype(float)
    computer_awards = np.array(cell['state'][4]).astype(float)
    all_awards = np.array(cell['state'][5]).astype(float)
    
    r = human_awards/2 + human_trace + all_awards
    g = board/3 + all_awards
    b = computer_awards/2 + computer_trace + all_awards
    rgb = np.dstack((r,g,b))
    return NormalizeData(rgb)
    

state_df = pd.DataFrame(columns=raw_df_state_to_action.columns)
action_df = pd.DataFrame(columns=raw_df_state_to_action.columns)
for col in raw_df_state_to_action:
    state_df[col] = raw_df_state_to_action[col].apply(extractState)
    action_df[col] = raw_df_state_to_action[col].apply(extractAction)

In [18]:
state_df.head(1)

,1,2,3,4,5,6,7,8,9,10,...,151,152,153,154,155,156,157,158,159,160
-Mrxq3qHzIBT4S2E8ooK,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None

# view one game

In [19]:
def rowToImage(row):
    fig = plt.figure(figsize=(40, 20))
    row_s = state_df.loc[row, :]
    row_a = action_df.loc[row, :]
    cols_i = row_a.count()
    for i in range(1, cols_i+1):
        rows = 1
        columns = cols_i
        state = row_s.at[i]
        fig.add_subplot(rows, columns, i)
        plt.imshow(state)
        plt.axis('off')
        action = row_a.at[i]
        plt.title(str(i) + " action: " + str(action), fontsize=15)

In [20]:
action_df[(action_df.count(axis=1) > 50)]

,1,2,3,4,5,6,7,8,9,10,...,151,152,153,154,155,156,157,158,159,160
-MrxqpyyTUZa8-1uEYAS,39.0,39.0,40.0,39.0,39.0,39.0,38.0,40.0,39.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Ms2VrXe3TS48S3GEgry,39.0,39.0,32.0,32.0,32.0,40.0,39.0,39.0,39.0,38.0,...,38.0,39.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Ms2_FkkO4YbT5IbGzxs,38.0,39.0,39.0,40.0,40.0,39.0,39.0,39.0,38.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Ms2cGDG6Nmrd0fO36xQ,39.0,39.0,40.0,39.0,39.0,39.0,38.0,40.0,39.0,39.0,...,38.0,38.0,38.0,38.0,38.0,37.0,38.0,38.0,39.0,39.0
-Ms2i2QomF71O7lxCnsE,39.0,39.0,39.0,37.0,37.0,38.0,40.0,39.0,40.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
action_df[len(action_df.columns) + 1] = np.NaN
action_df.tail()

,1,2,3,4,5,6,7,8,9,10,...,152,153,154,155,156,157,158,159,160,161
-Ms37vOv9pNIMytvZKik,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Ms3BJhA7xovRRbdA38c,38.0,40.0,39.0,39.0,38.0,38.0,39.0,39.0,38.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Ms3BvyypWqR9JcwIzUJ,39.0,39.0,40.0,40.0,40.0,38.0,39.0,40.0,39.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Ms3aYBVBc0ffNZsEiaq,39.0,39.0,32.0,32.0,32.0,38.0,38.0,39.0,39.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
undefined,39.0,39.0,40.0,40.0,39.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Make Dataset

In [22]:
dir_path = './data/humanModel_dataset'
if os.path.exists(dir_path):
    shutil.rmtree(dir_path)
    os.mkdir(dir_path)
    for action in ['32','37','38','39','40']:
        os.mkdir(dir_path+'/'+action)
else:
    print("File not found in the directory")

counter = 0
for (idxRow, s1), (_, s2) in zip(state_df.iterrows(), action_df.iterrows()):
    for (idxCol, state), (_, action) in zip(s1.iteritems(), s2.iteritems()):
        # check if it is not the last state
        # the last state not enter our model, since it is an end state that not contains any dirts and not preform an action
        if not np.isnan(action_df.loc[idxRow, idxCol+1]):
            im = Image.fromarray((state * 255).astype(np.uint8))
            path = f'data/humanModel_dataset/{int(action)}/{idxRow}_{idxCol}.png'
            if counter % 500 == 0:
                # print every 500 saved images
                print(f'{idxRow}_{idxCol}.png saved! at action {action}')
            counter += 1
            im.save(path)
        else:
            break
#         print (state, action, idxCol, idxRow)
print(f'{counter} images have been saved')

-Mrxq3qHzIBT4S2E8ooK_1.png saved! at action 39.0
-MrxqYwxGnHV3RtcoTBz_35.png saved! at action 38.0
-MrxrA0gkZ6Q1F5fJQFr_7.png saved! at action 38.0
-MrxuiVAlr4BtX133bT4_15.png saved! at action 38.0
-MrxxGip3NCKdpyuOTGE_3.png saved! at action 40.0
-MrxzlcwsDf_IWi8hor-_31.png saved! at action 32.0
-Mry3AMAaV52bQhjrXF4_4.png saved! at action 38.0
-Ms2V1JMO2N6YIbCvm55_8.png saved! at action 32.0
-Ms2_FkkO4YbT5IbGzxs_48.png saved! at action 39.0
-Ms2hymbJ9uE5gbArPLd_7.png saved! at action 39.0
-Ms2oWN6786QnV7nm-r3_23.png saved! at action 39.0
5175 images have been saved

In [23]:
# rowToImage('-Mr4Yrtg2Rk8u83xa6yl')

In [24]:
# index = "-MqplpytsnX0zCv_KW9i"
# col = 3
# plt.imshow(state_df.loc[index, col])
# title = "id: " + index + ", col: " + str(col) + ", action: " + str(action_df.loc[index, col])
# plt.title(title)
# plt.show()

# Change the reward function

only for the old data

In [25]:
# drop not finish game

# --> TODO: not working!

print(len( raw_df_state_to_action.index))
# null_index = participants_df.loc[raw_df_state_to_action.index, :][participants_df.loc[raw_df_state_to_action.index, :]['computer_score'].isnull()].index.tolist()
null_index = raw_df_state_to_action.index.difference(participants_df.index, sort=False)
print(len(null_index))
# print(null_index)
raw_df_state_to_action_finish_game = raw_df_state_to_action.drop(null_index)

220
119

In [26]:
def extractState(cell):
    if cell == None:
        return cell
    board = np.array(cell['state'][0]).astype(float)
    human_trace = np.array(cell['state'][1]).astype(float)
    computer_trace = np.array(cell['state'][2]).astype(float)
    human_awards = np.array(cell['state'][3]).astype(float)
    computer_awards = np.array(cell['state'][4]).astype(float)
    all_awards = np.array(cell['state'][5]).astype(float)
    return (board, human_trace, computer_trace, human_awards, computer_awards, all_awards)

state_dim_6_df = pd.DataFrame(columns=raw_df_state_to_action_finish_game.columns)
for col in raw_df_state_to_action_finish_game:
    state_dim_6_df[col] = raw_df_state_to_action_finish_game[col].apply(extractState)

state_dim_6_df[len(state_dim_6_df.columns) + 1] = None

In [27]:
def countActions(row):
    for i in range(1, len(row)+1):
        if row[i] != None: # game not ended
            continue
        else:
            # if there are i-1 states, then there are i-2
            return i-2

def countCollectedDirt(row, agent):
    NotNullLastCol = row[1]
    for i in range(2, len(row)+1):
        if row[i] != None: # game not ended
            NotNullLastCol = row[i]
        else:
            assert np.count_nonzero(NotNullLastCol[5]) == 0
            if agent == 'computer':
                return np.count_nonzero(NotNullLastCol[4])
            else: # agent == 'human'
                return np.count_nonzero(NotNullLastCol[3])

def countStays(row, agent):
    stay_count = 0
    # if agent == 'computer':
    #     last_pos = np.where(row[1][2] == 1)
    # else:
    #     last_pos = np.where(row[1][1] == 1)

    for i in range(2, len(row)+1):
        if row[i] != None: # game not ended
            # if agent == 'computer':
            #     current_pos = np.where(row[i][2] == 1)
            # else: # agent == 'human'
            #     current_pos = np.where(row[i][1] == 1)
            # if current_pos == last_pos:
            #     stay_count += 1
            # else:
            #     last_pos = current_pos
            
            # faster way
            if agent == 'computer':
                trace_agent = row[i][2]
            else: # agent == 'human'
                trace_agent = row[i][1]
            if 0.9 not in trace_agent:
                stay_count += 1
        else:
            return stay_count

In [28]:
def fix_scores(df):
    rewards = {
        'Start': 0.5,
        'Stay': -0.01,
        'Move': -0.03,
        'EndGame': 1.0
    }
    c_h_scores = pd.DataFrame(index=df.index, columns=['computer_score', 'human_score'])
    computer_scores = []
    human_scores = []
    for i, row in df.iterrows():
        num_of_actions = countActions(row)
        computer_num_of_dirt = countCollectedDirt(row, 'computer')
        human_num_of_dirt = countCollectedDirt(row, 'human')
        computer_num_of_stays = countStays(row, 'computer')
        human_num_of_stays = countStays(row, 'human')

        # if i == '-Mr4RiLyH06mIlLkOkTw':
        #     print('num_of_actions: ', num_of_actions)
        #     print('computer_num_of_dirt: ', computer_num_of_dirt)
        #     print('human_num_of_dirt: ',human_num_of_dirt)
        #     print('computer_num_of_stays: ', computer_num_of_stays)
        #     print('human_num_of_stays: ',human_num_of_stays)
        #     # raise RuntimeError

        coputerScore = rewards['Start'] + (num_of_actions - computer_num_of_stays - computer_num_of_dirt) * rewards['Move'] + computer_num_of_stays * rewards['Stay']
        coputerScore += rewards['EndGame']
        humanScore = rewards['Start'] + (num_of_actions - human_num_of_stays - human_num_of_dirt) * rewards['Move'] + human_num_of_stays * rewards['Stay']
        humanScore += rewards['EndGame']
        computer_scores.append(coputerScore)
        human_scores.append(humanScore)

    c_h_scores['computer_score'] = computer_scores
    c_h_scores['human_score'] = human_scores
    c_h_scores['computer_score_real'] = participants_df['computer_score']
    c_h_scores['human_score_real'] = participants_df['human_score']
    c_h_scores['behavior'] = participants_df['behavior']
    return c_h_scores

new_scores_df = fix_scores(state_dim_6_df)

In [29]:
new_scores_df.groupby('behavior').mean()

          computer_score  human_score  computer_score_real  human_score_real
behavior
TSP             1.144706     1.109412             0.911765          0.860000
closest         1.135417     1.136250             0.889583          0.910417
farthest        0.905882     0.952353             0.515882          0.610000
random          0.817857     0.874286             0.412857          0.487143
selfish         1.162069     0.777586             1.162069          0.352069

In [30]:
def fix_collected_dirt_score(df):
    rewards = {
        'Collected_dirt': 0.05,
    }
    c_h_scores = pd.DataFrame(index=df.index, columns=['computer_score', 'human_score'])
    computer_scores = []
    human_scores = []
    for i, row in df.iterrows():
        computer_num_of_dirt = countCollectedDirt(row, 'computer')
        human_num_of_dirt = countCollectedDirt(row, 'human')

        coputerScore = computer_num_of_dirt * rewards['Collected_dirt']
        humanScore = human_num_of_dirt * rewards['Collected_dirt']
        computer_scores.append(participants_df.loc[i, 'computer_score'] - coputerScore)
        human_scores.append(participants_df.loc[i, 'human_score'] - humanScore)

    c_h_scores['computer_score'] = computer_scores
    c_h_scores['human_score'] = human_scores
    c_h_scores['computer_score_real'] = participants_df['computer_score']
    c_h_scores['human_score_real'] = participants_df['human_score']
    c_h_scores['behavior'] = participants_df['behavior']
    return c_h_scores

new_scores_df = fix_collected_dirt_score(state_dim_6_df)

In [31]:
new_scores_df.groupby('behavior').mean()

          computer_score  human_score  computer_score_real  human_score_real
behavior
TSP             0.750000     0.762941             0.911765          0.860000
closest         0.727083     0.797917             0.889583          0.910417
farthest        0.412941     0.439412             0.515882          0.610000
random          0.402143     0.244286             0.412857          0.487143
selfish         1.162069     0.102069             1.162069          0.352069

In [32]:
# participants_df['computer_score'] = new_scores_df['computer_score']
# participants_df['human_score'] = new_scores_df['human_score']
# participants_df.to_json(r'participants_df.json', orient='index')

In [33]:
new_scores_df.to_excel("data/"+map_dir+"/all_agents_score.xlsx")