In [1]:
import json
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import shutil

from PIL import Image

map_dir = 'map 3'
path = './data/'+map_dir+'/data-of-baselines-ddqn-sarl.json'

In [2]:
# import pyrebase

# firebaseConfig = {
#         "apiKey": "AIzaSyAy6TmnVcLWjkpSpQFtCnX-PVGignQFsiw",
#     "authDomain": "packman-game.firebaseapp.com",
#     "databaseURL": "https://packman-game-default-rtdb.firebaseio.com",
#     "projectId": "packman-game",
#     "storageBucket": "packman-game.appspot.com",
#     "messagingSenderId": "819894936980",
#     "appId": "1:819894936980:web:7cbb8a8e4efb4e00d81b81"
#     };

# firebase=pyrebase.initialize_app(firebaseConfig)

# db=firebase.database()

# # Get a database reference to our posts
# ref = db.reference('/all-games')

# # Read the data at the posts reference (this is a blocking operation)
# print(ref.get())

In [3]:
#load data from the json file
with open(path) as train_file:
    data = json.load(train_file)

# Survay results:

upload Id workers and search for duplicate workers

In [4]:
raw_df_state_to_action = pd.DataFrame.from_dict(data['humanModel'], orient='index')
# df.reset_index(level=0, inplace=True)
raw_df_state_to_action = raw_df_state_to_action.drop(0, axis=1)

participants_df = pd.DataFrame.from_dict(data['all-games'], orient='index')

path = 'data/'+map_dir+'/workers' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    fromOne = pd.read_csv(filename, index_col=None, header=0)
    fromOne['filename'] = filename
    li.append(fromOne)

workers = pd.concat(li, axis=0, ignore_index=True)
workers = workers.set_index('Answer.surveycode')
workers.index = workers.index.map(lambda code: '-' + code[:-3])
print(workers.index[workers.index.duplicated()])
workers = workers[~workers.index.duplicated(keep='first')]
participants_df['WorkerId'] = workers['WorkerId']
participants_df = participants_df.dropna(subset = ['WorkerId'])
participants_df

Index(['-Mr4ZSnoXZPveZc7ldl3'], dtype='object', name='Answer.surveycode')

,behavior,computer_score,human_score,additional_comments,birth_year,collaborative_value,computer_value,education,gender,predictable_value,selfishly_value,wisely_value,WorkerId
-Mr4RiLyH06mIlLkOkTw,closest,0.850,0.850,,1979,2,4,High School,male,4,2,4,A1VSHM4NLZ705D
-Mr4RjUd6Ei8tNw1x3Vy,selfish,-0.100,-0.940,,1979,1,7,BA,female,7,7,1,A32QWM7BWCSPTS
-Mr4RjX1GClt3WO3Fz_e,TSP,1.100,1.150,,1992,6,4,BA,male,6,2,7,A2GV9WSNSPX53
-Mr4RkayW6Mcf5zf4X9f,farthest,0.380,0.500,,1984,4,5,Master's degree,female,3,6,3,ADQHGQF65JJ08
-Mr4Rl1agkMK0vtM-V7w,farthest,0.300,0.500,,1981,1,7,High School,male,6,7,1,A3L8LSM7V7KX3T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
-MrdevSLJl6bqTnuJsLI,sarl ddqn distribution,1.210,1.100,good,1947,6,7,Master's degree,male,6,7,7,ALLQYIBNGN5MG
-MrdfyQ79Kh6j9ao2HYp,ddqn distribution,1.170,0.350,good,1991,6,7,BA,female,6,7,7,A2LPVNAJP8ZO0O
-Mrdi_LPB-y6d4Q9gNKZ,ddqn distribution,1.000,-0.250,Good,1977,6,6,BA,female,6,5,5,A3IOOW5SX3UDSG
-Mrdi_MoWMRFUNaLH_m9,ddqn distribution,1.070,0.300,good,1985,7,6,BA,male,7,6,7,A1RUBSQBBOJHPO
-Mrdk3ea1FdFNSPFyWuY,sarl ddqn distribution,1.040,0.700,good,1974,6,7,BA,male,6,7,7,ALLQYIBNGN5MG

In [5]:
participants_df.columns

Index(['behavior', 'computer_score', 'human_score', 'additional_comments',
       'birth_year', 'collaborative_value', 'computer_value', 'education',
       'gender', 'predictable_value', 'selfishly_value', 'wisely_value',
       'WorkerId'],
      dtype='object')

In [6]:
index_to_drop = participants_df[(participants_df.duplicated('WorkerId')) | (participants_df['WorkerId'].isnull())].index
print(len(index_to_drop))

participants_df = participants_df[(~participants_df.duplicated('WorkerId')) | (participants_df['WorkerId'].isnull())]

89

number of people that answer the survay only once:

In [7]:
len(participants_df)

189

In [8]:
# participants_df[['computer_score', 'human_score', 'behavior']].to_excel("agents_score.xlsx")

In [9]:
participants_df['additional_comments'][participants_df['additional_comments'].notna()][participants_df['additional_comments'] != ""].head()

-Mr4RmdzXIKVH_Bm4n6C    blue was useless
-Mr4Rsj4VMRlD7NO6jnT                good
-Mr4Rx9F5wfhI0pwF-YE                 n/a
-Mr4S1VEw2Od_zdqrMDV                none
-Mr4SAnTNAw0P9JV7Bwz                  ty
Name: additional_comments, dtype: object

In [10]:
participants_df['human_score'] = pd.to_numeric(participants_df['human_score'], errors='coerce')
participants_df['computer_score'] = pd.to_numeric(participants_df['computer_score'], errors='coerce')
participants_df['collaborative_value'] = pd.to_numeric(participants_df['collaborative_value'], errors='coerce')
participants_df['predictable_value'] = pd.to_numeric(participants_df['predictable_value'], errors='coerce')
participants_df['selfishly_value'] = pd.to_numeric(participants_df['selfishly_value'], errors='coerce')
participants_df['wisely_value'] = pd.to_numeric(participants_df['wisely_value'], errors='coerce')

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
participants_df.groupby('behavior')[['computer_score', 'human_score', 'collaborative_value', 'predictable_value', 'selfishly_value', 'wisely_value']].mean()

,computer_score,human_score,collaborative_value,predictable_value,selfishly_value,wisely_value
behavior,,,,,,
TSP,0.891667,0.974333,5.400000,5.400000,2.433333,5.666667
closest,0.751429,0.832857,4.828571,5.028571,3.285714,4.485714
ddqn distribution,1.090769,0.096154,3.461538,4.461538,5.615385,4.307692
farthest,0.252857,0.431786,2.857143,4.214286,4.428571,2.714286
random,0.268780,0.329756,2.536585,3.926829,5.390244,2.829268
sarl ddqn distribution,1.202667,0.780000,3.733333,4.866667,4.666667,5.000000
selfish,1.034074,0.122222,2.000000,5.703704,6.518519,3.592593

In [12]:
participants_df['behavior'].value_counts()

random                    41
closest                   35
TSP                       30
farthest                  28
selfish                   27
sarl ddqn distribution    15
ddqn distribution         13
Name: behavior, dtype: int64

In [13]:
participants_df['gender'].value_counts()

male      118
female     71
Name: gender, dtype: int64

In [14]:
participants_df['education'].value_counts()

BA                 95
High School        56
Master's degree    36
Ph.D                2
Name: education, dtype: int64

In [15]:
participants_df[participants_df['behavior'] == 'selfish'][['computer_score', 'human_score','education']].groupby('education').mean()

                 computer_score  human_score
education
BA                     0.966471     0.047647
High School            1.183333     0.251667
Master's degree        1.097500     0.245000

# View some data

In [16]:
# remove from the dataset :
# raw_df_state_to_action = raw_df_state_to_action.drop(index_to_drop)
raw_df_state_to_action.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 293 entries, -Mr4RdOzYugRyEw17_M9 to -Mrdk3ea1FdFNSPFyWuY
Columns: 280 entries, 1 to 280
dtypes: object(280)
memory usage: 643.2+ KB

In [17]:
def extractAction(cell):
    if cell != None:
        return int(cell['action'])
    return np.nan

def NormalizeData(data):
    return (data - np.min(data)) / (np.max(data) - np.min(data))

def extractState(cell):
    if cell == None:
        return cell
    board = np.array(cell['state'][0]).astype(float)
    human_trace = np.array(cell['state'][1]).astype(float)
    computer_trace = np.array(cell['state'][2]).astype(float)
    human_awards = np.array(cell['state'][3]).astype(float)
    computer_awards = np.array(cell['state'][4]).astype(float)
    all_awards = np.array(cell['state'][5]).astype(float)
    
    r = human_awards/2 + human_trace + all_awards
    g = board/3 + all_awards
    b = computer_awards/2 + computer_trace + all_awards
    rgb = np.dstack((r,g,b))
    return NormalizeData(rgb)
    

state_df = pd.DataFrame(columns=raw_df_state_to_action.columns)
action_df = pd.DataFrame(columns=raw_df_state_to_action.columns)
for col in raw_df_state_to_action:
    state_df[col] = raw_df_state_to_action[col].apply(extractState)
    action_df[col] = raw_df_state_to_action[col].apply(extractAction)

In [18]:
state_df.head()

,1,2,3,4,5,6,7,8,9,10,...,271,272,273,274,275,276,277,278,279,280
-Mr4RdOzYugRyEw17_M9,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None
-Mr4RiLyH06mIlLkOkTw,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None
-Mr4RjUd6Ei8tNw1x3Vy,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None
-Mr4RjX1GClt3WO3Fz_e,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None
-Mr4RkayW6Mcf5zf4X9f,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...",...,None,None,None,None,None,None,None,None,None,None

# view one game

In [19]:
def rowToImage(row):
    fig = plt.figure(figsize=(40, 20))
    row_s = state_df.loc[row, :]
    row_a = action_df.loc[row, :]
    cols_i = row_a.count()
    for i in range(1, cols_i+1):
        rows = 1
        columns = cols_i
        state = row_s.at[i]
        fig.add_subplot(rows, columns, i)
        plt.imshow(state)
        plt.axis('off')
        action = row_a.at[i]
        plt.title(str(i) + " action: " + str(action), fontsize=15)

In [20]:
# action_df[(action_df.count(axis=1) > 20) & (participants_df['behavior'] == 'sarl ddqn')]
action_df[(action_df.count(axis=1) > 140)]

,1,2,3,4,5,6,7,8,9,10,...,271,272,273,274,275,276,277,278,279,280
-Mr4RjUd6Ei8tNw1x3Vy,32,38,37,37,40,40,40,40,40,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Mr4TqtTeAqm2CZKXQRV,38,37,37,32,32,32,32,32,32,32,...,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0
-Mr4UMneVuEOivyI4gZA,38,37,37,40,40,40,32,32,32,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
action_df[len(action_df.columns) + 1] = np.NaN
action_df.tail()

,1,2,3,4,5,6,7,8,9,10,...,272,273,274,275,276,277,278,279,280,281
-MrdevSLJl6bqTnuJsLI,38,38,37,40,37,40,40,40,40,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-MrdfyQ79Kh6j9ao2HYp,38,38,37,40,37,40,40,40,40,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Mrdi_LPB-y6d4Q9gNKZ,39,37,39,39,37,37,38,38,37,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Mrdi_MoWMRFUNaLH_m9,39,39,40,40,39,39,39,37,37,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-Mrdk3ea1FdFNSPFyWuY,38,38,40,40,38,37,37,37,39,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Make Dataset

In [22]:
# dir_path = './data/humanModel_dataset'
# if os.path.exists(dir_path):
#     shutil.rmtree(dir_path)
#     os.mkdir(dir_path)
#     for action in ['32','37','38','39','40']:
#         os.mkdir(dir_path+'/'+action)
# else:
#     print("File not found in the directory")

# counter = 0
# for (idxRow, s1), (_, s2) in zip(state_df.iterrows(), action_df.iterrows()):
#     for (idxCol, state), (_, action) in zip(s1.iteritems(), s2.iteritems()):
#         # check if it is not the last state
#         # the last state not enter our model, since it is an end state that not contains any dirts and not preform an action
#         if not np.isnan(action_df.loc[idxRow, idxCol+1]):
#             im = Image.fromarray((state * 255).astype(np.uint8))
#             path = f'data/humanModel_dataset/{int(action)}/{idxRow}_{idxCol}.png'
#             if counter % 500 == 0:
#                 # print every 500 saved images
#                 print(f'{idxRow}_{idxCol}.png saved! at action {action}')
#             counter += 1
#             im.save(path)
#         else:
#             break
# #         print (state, action, idxCol, idxRow)
# print(f'{counter} images have been saved')

In [23]:
# index = "-MqplpytsnX0zCv_KW9i"
# col = 3
# plt.imshow(state_df.loc[index, col])
# title = "id: " + index + ", col: " + str(col) + ", action: " + str(action_df.loc[index, col])
# plt.title(title)
# plt.show()

# Change the reward function

only for the old data

In [24]:
# drop not finish game

# --> TODO: not working!

print(len( raw_df_state_to_action.index))
# null_index = participants_df.loc[raw_df_state_to_action.index, :][participants_df.loc[raw_df_state_to_action.index, :]['computer_score'].isnull()].index.tolist()
null_index = raw_df_state_to_action.index.difference(participants_df.index, sort=False)
print(len(null_index))
# print(null_index)
raw_df_state_to_action_finish_game = raw_df_state_to_action.drop(null_index)

293
104

In [25]:
def extractState(cell):
    if cell == None:
        return cell
    board = np.array(cell['state'][0]).astype(float)
    human_trace = np.array(cell['state'][1]).astype(float)
    computer_trace = np.array(cell['state'][2]).astype(float)
    human_awards = np.array(cell['state'][3]).astype(float)
    computer_awards = np.array(cell['state'][4]).astype(float)
    all_awards = np.array(cell['state'][5]).astype(float)
    return (board, human_trace, computer_trace, human_awards, computer_awards, all_awards)

state_dim_6_df = pd.DataFrame(columns=raw_df_state_to_action_finish_game.columns)
for col in raw_df_state_to_action_finish_game:
    state_dim_6_df[col] = raw_df_state_to_action_finish_game[col].apply(extractState)

state_dim_6_df[len(state_dim_6_df.columns) + 1] = None

In [26]:
def countActions(row):
    for i in range(1, len(row)+1):
        if row[i] != None: # game not ended
            continue
        else:
            # if there are i-1 states, then there are i-2
            return i-2

def countCollectedDirt(row, agent):
    NotNullLastCol = row[1]
    for i in range(2, len(row)+1):
        if row[i] != None: # game not ended
            NotNullLastCol = row[i]
        else:
            assert np.count_nonzero(NotNullLastCol[5]) == 0
            if agent == 'computer':
                return np.count_nonzero(NotNullLastCol[4])
            else: # agent == 'human'
                return np.count_nonzero(NotNullLastCol[3])

def countStays(row, agent):
    stay_count = 0
    # if agent == 'computer':
    #     last_pos = np.where(row[1][2] == 1)
    # else:
    #     last_pos = np.where(row[1][1] == 1)

    for i in range(2, len(row)+1):
        if row[i] != None: # game not ended
            # if agent == 'computer':
            #     current_pos = np.where(row[i][2] == 1)
            # else: # agent == 'human'
            #     current_pos = np.where(row[i][1] == 1)
            # if current_pos == last_pos:
            #     stay_count += 1
            # else:
            #     last_pos = current_pos
            
            # faster way
            if agent == 'computer':
                trace_agent = row[i][2]
            else: # agent == 'human'
                trace_agent = row[i][1]
            if 0.9 not in trace_agent:
                stay_count += 1
        else:
            return stay_count

In [27]:
def fix_scores(df):
    rewards = {
        'Start': 0.5,
        'Stay': -0.01,
        'Move': -0.03,
        'EndGame': 1.0
    }
    c_h_scores = pd.DataFrame(index=df.index, columns=['computer_score', 'human_score'])
    computer_scores = []
    human_scores = []
    for i, row in df.iterrows():
        num_of_actions = countActions(row)
        computer_num_of_dirt = countCollectedDirt(row, 'computer')
        human_num_of_dirt = countCollectedDirt(row, 'human')
        computer_num_of_stays = countStays(row, 'computer')
        human_num_of_stays = countStays(row, 'human')

        # if i == '-Mr4RiLyH06mIlLkOkTw':
        #     print('num_of_actions: ', num_of_actions)
        #     print('computer_num_of_dirt: ', computer_num_of_dirt)
        #     print('human_num_of_dirt: ',human_num_of_dirt)
        #     print('computer_num_of_stays: ', computer_num_of_stays)
        #     print('human_num_of_stays: ',human_num_of_stays)
        #     # raise RuntimeError

        coputerScore = rewards['Start'] + (num_of_actions - computer_num_of_stays - computer_num_of_dirt) * rewards['Move'] + computer_num_of_stays * rewards['Stay']
        coputerScore += rewards['EndGame']
        humanScore = rewards['Start'] + (num_of_actions - human_num_of_stays - human_num_of_dirt) * rewards['Move'] + human_num_of_stays * rewards['Stay']
        humanScore += rewards['EndGame']
        computer_scores.append(coputerScore)
        human_scores.append(humanScore)

    c_h_scores['computer_score'] = computer_scores
    c_h_scores['human_score'] = human_scores
    c_h_scores['computer_score_real'] = participants_df['computer_score']
    c_h_scores['human_score_real'] = participants_df['human_score']
    c_h_scores['behavior'] = participants_df['behavior']
    return c_h_scores

new_scores_df = fix_scores(state_dim_6_df)

In [28]:
new_scores_df.groupby('behavior').mean()

,computer_score,human_score,computer_score_real,human_score_real
behavior,,,,
TSP,1.135333,1.169667,0.891667,0.974333
closest,1.052000,1.088000,0.751429,0.832857
ddqn distribution,1.123846,0.643077,1.090769,0.096154
farthest,0.757500,0.845000,0.252857,0.431786
random,0.728049,0.772195,0.268780,0.329756
sarl ddqn distribution,1.242667,1.063333,1.202667,0.780000
selfish,1.034074,0.596667,1.034074,0.122222

In [29]:
def fix_collected_dirt_score(df):
    rewards = {
        'Collected_dirt': 0.05,
    }
    c_h_scores = pd.DataFrame(index=df.index, columns=['computer_score', 'human_score'])
    computer_scores = []
    human_scores = []
    for i, row in df.iterrows():
        computer_num_of_dirt = countCollectedDirt(row, 'computer')
        human_num_of_dirt = countCollectedDirt(row, 'human')

        coputerScore = computer_num_of_dirt * rewards['Collected_dirt']
        humanScore = human_num_of_dirt * rewards['Collected_dirt']
        computer_scores.append(participants_df.loc[i, 'computer_score'] - coputerScore)
        human_scores.append(participants_df.loc[i, 'human_score'] - humanScore)

    c_h_scores['computer_score'] = computer_scores
    c_h_scores['human_score'] = human_scores
    c_h_scores['computer_score_real'] = participants_df['computer_score']
    c_h_scores['human_score_real'] = participants_df['human_score']
    c_h_scores['behavior'] = participants_df['behavior']
    return c_h_scores

new_scores_df = fix_collected_dirt_score(state_dim_6_df)

In [30]:
new_scores_df.groupby('behavior').mean()

,computer_score,human_score,computer_score_real,human_score_real
behavior,,,,
TSP,0.751667,0.862667,0.891667,0.974333
closest,0.628571,0.704286,0.751429,0.832857
ddqn distribution,1.075385,-0.138462,1.090769,0.096154
farthest,0.186786,0.246071,0.252857,0.431786
random,0.240732,0.107805,0.268780,0.329756
sarl ddqn distribution,1.119333,0.613333,1.202667,0.780000
selfish,1.034074,-0.127778,1.034074,0.122222

In [31]:
# participants_df['computer_score'] = new_scores_df['computer_score']
# participants_df['human_score'] = new_scores_df['human_score']
# participants_df.to_json(r'participants_df.json', orient='index')

In [32]:
new_scores_df.to_excel("data/"+map_dir+"/all_agents_score.xlsx")